[Desktop Entry]
Type=Application
Exec=python ~/bin/wireguard_tray/wg-tray
NoDisplay=false
Hidden=false
Name=WireGuard Status
X-GNOME-Autostart-Delay=3
